/* Style inputs */
.contact-section input[type=text], input[type=email], input[type=tel], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  .contact-section input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  .contact-section input[type=submit]:hover {
    background-color: #45a049;
  }

  .contact-section .contact-title.col {
    text-align: center;
}

.contact-section .contact-box ul li{
 margin-bottom:0px;
 padding:8px;
}
.contact-section .contact i {
   font-size: 25px;
   color: #f65728;
}